---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero callToAction2={{ text: 'Our Vision', href: '/vision' }}>
    <Fragment slot="title">
      <div class="p-2">Entrepreneurship Cell</div>
      <span class="text-accent dark:text-white highlight"> NITK, Surathkal</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">The Entrepreneurship Cell of NITK Surathkal</span> aims to create, foster and promote
        the spirit of entrepreneurship by helping young and talented minds pursue the path of innovation and set up their
        own entrepreneurial ventures.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <!-- 
  <Note />
  <Note />
  <Note /> -->

  <!-- Features Widget *************** -->

  <!-- <Features
    highlight=""
    title="Who are we ?"
    subtitle="The Entrepreneurship Cell of NITK Surathkal aims to create, foster and promote the spirit of entrepreneurship by helping young and talented minds pursue the path of innovation and set up their own entrepreneurial ventures."
    items={[
      [
        {
          title: '
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <Content
    highlight="Ecell Initiatives"
    title="And what we do ?"
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hult Prize</h3>
      Enterprise is one of our primary events and is designed to provide freshers with first-hand experience in entrepreneurship.
      The event encompasses everything from building your own B-Plan to generating revenue and gives the participants greater
      insight into the crucial role teamwork plays in the success of any business venture.
    </Fragment>
  </Content>
  <Content
    isReversed
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Enterprise</h3>
      Enterprise is one of our primary events and is designed to provide freshers with first-hand experience in entrepreneurship.
      The event encompasses everything from building your own B-Plan to generating revenue and gives the participants greater
      insight into the crucial role teamwork plays in the success of any business venture.
    </Fragment>
  </Content>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Learning Portal"
    subtitle="E-Cell NITK believes that constant learning is the key to entrepreneurial success. To help kickstart this process, we present our own specially made course pathways for beginners, that cover a diversified range of subjects. These self-paced pathways are designed to orient students towards entrepreneurship and strengthen their business acumen and decision making while also catering to the interests of all the business enthusiasts out there"
    items={[
      {
        title: 'Entrepreneurship',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Finance',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Cryptocurrency',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Product Management',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Marketing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Economics',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="E Summit"
    subtitle="Inspire.Invent.Integrate"
    highlight="E Cell's Flagship Event"
    items={[
      [
        {
          question: 'What is the objective of the E-Summit?',
          answer:
            'The primary objective of the E-Summit is to foster an entrepreneurial spirit among the next generation of graduates. It serves as a platform for students and aspiring entrepreneurs to gain insights into the world of entrepreneurship. The event features entrepreneurship talks, business workshops, panel discussions, and a pitching event to provide a comprehensive experience. The E-Summit aims to inspire, educate, and empower attendees to explore their entrepreneurial potential and turn their innovative ideas into successful ventures.',
        },
      ],
      [
        {
          question: 'Who can attend the E-Summit at NITK, Surathkal?',
          answer:
            "The E-Summit at NITK, Surathkal is open to a diverse audience. It welcomes students, aspiring entrepreneurs, professionals, and anyone interested in entrepreneurship, innovation, and business development. Whether you're a student with a startup idea, an established entrepreneur, or simply curious about the world of business and innovation, you are encouraged to attend. The event offers valuable insights and networking opportunities for all attendees, making it an inclusive and enriching experience for anyone passionate about entrepreneurship.",
        },
      ],
    ]}
  />
  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Find out more content in our Blog"
    information={`
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
    ]}
  /> -->
</Layout>
